logs/*
data/history/*
*/__pycache__/*
*/.DS_Store
*test*
atom_generator.py
.idea

openai_api_key.txt
API_KEY_LIST
google_api_key.txt
zhipu_api_key.txt

data/openai.logs
data/google.logs
data/zhipu.logs

data/agent.json
data/experience.json
data/env.json
data/history.json
data/llm_inference.json
data/url_prefix.json
data/score.json
data/blueprint_description.json
data/tokens.json
data/recipe_hint.json
data/action_log.json
data/map_description.json
data/map.json
img/*graph.png
img/*graph.md
ui/logs/*

result/*
*.zip

.cache/*.cache
.cache/state.json
.cache/meta_setting.json

package-lock.json
/.vscode/*
*config*.json

/.cache/meta_setting.json
/__pycache__/*
tmp/*
auto_task/*

rl_env/ckpt/*
rl_env/replay_buffer/*
rl_env/tasks/*

node_modules/*
100_meta.json
filtered_tasks.json
